## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path
dir_data = './data/'

In [5]:
dir_data

'./data/'

In [6]:

f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
df = pd.read_csv(f_app)

Path of read in data: ./data/HomeCredit_columns_description.csv

In [7]:
# for example
?pd.read_csv

In [8]:
df.head()

,Unnamed: 0,Table,Row,Description,Special,Unnamed: 5,Unnamed: 6
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN,NaN,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN,NaN,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN,NaN,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN,NaN,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN,NaN,NaN

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

### 返回列數

In [9]:
df.shape[0]

205

### 返回行數

In [10]:
df.shape[1]

7

#### 列出所有欄位

In [11]:
df.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

#### 截取部分資料

In [12]:
df[5:10]

,Unnamed: 0,Table,Row,Description,Special,Unnamed: 5,Unnamed: 6
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN,NaN,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN,NaN,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN,NaN,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN,NaN,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子